.carousel-inner{
    height: auto;
    width: 100%;
}
body{
    background-color: #d6dce3;
}
.container-fluid{
    /* position: absolute; */
      width: 100%;
      left: 0;
      text-align: center;
      margin:0 auto;
  }
  .navbar-toggle {
      z-index:3;
  }
 .rounded{
    border-radius: 100px;
 }